@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}
.card {


    width: calc(33% - 20px);
    background: #222;
    text-align: center;

    border-radius: 6px;
    padding: 25px 25px;

    transition: all 0.3s ease;

    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.card .card-content{
    color: #fff;
}
.card .head{
    font-size: 25px;
    font-weight: 500;
   
}

.line {
    color :white;
    border: 1.3px solid;
    margin-top: 5%;
    margin-bottom: 5%;
}

@media (max-width : 900px) {
    .card{
        width: calc(50% - 20px);    }
    
}

@media (max-width : 500px) {
    .card-content{
        font-size:  calc(70%);
    }
    .card .head{
  
        font-size:  18px;
    }
    
}